<%-include('header')-%>



            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                   
                  



                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add Category</h6>
                            <form action="/admin/categoryadded" method="post">

                            <div class="form-floating mb-3">
                                <input type="name" class="form-control" id="productName"
                                    placeholder="product name" name="categoryName">
                                <label for="floatingInput">category name</label>
                            </div>
                        
                           
                           
                            
                                <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        </div>
                    </div>



                   
               
                   
                  
                </div>
            </div>
            <!-- Form End -->













            <!-- Footer Start -->
            
            <!-- Footer End -->
        </div>
        <!-- Content End -->

        <%-include('footer')-%>
