<%-include('header')-%>

<!--Body Content-->
<div id="page-content">
  <!-- Lookbook Start -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="empty-page-content text-center">
          <h1>"Payment failed "</h1>
          <p>
            <a
              href="/orderStatus"
              class="btn btn--has-icon-after"
              style="background-color: black; color: aliceblue"
              >Repayment<i class="fa fa-caret-right" aria-hidden="true"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Lookbook Start -->
</div>
<!--End Body Content-->
<%-include('footer')-%>
