<div class="card mb-4 mb-lg-0">
  <div class="card-body p-0">
    <ul class="list-group list-group-flush rounded-3">
      <li
        class="list-group-item d-flex justify-content-between align-items-center p-3"
      >
        <p class="mb-0"><a href="/userprofile">MY PROFILE</a></p>
      </li>

      <li
        class="list-group-item d-flex justify-content-between align-items-center p-3"
      >
        <p class="mb-0"><a href="/userAddAddress">ADDRESS</a></p>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center p-3"
      >
        <p class="mb-0"><a href="/orderStatus">ORDER STATUS</a></p>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center p-3"
      >
        <p class="mb-0"><a href="/changePassword">CHANGE PASSWORD</a></p>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center p-3"
      >
        <p class="mb-0"><a href="/wallet">WALLET</a></p>
      </li>

      <li
        class="list-group-item d-flex justify-content-between align-items-center p-3"
      >
        <p class="mb-0"><a href="/availableCoupons">Available Coupons</a></p>
      </li>
    </ul>
  </div>
</div>
