





<%-include('header')-%>

    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper">
                    <h1 class="page-width">Reset Your Password</h1>
                     <p>Enter your  and we'll send you a link to reset your password.
                    Please  check it.
                    </p> 
                </div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                	<div class="mb-4">
                       <form method="post" action="/otpverified" id="otpVerification" accept-charset="UTF-8" class="contact-form">	
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="otp">OTP</label>
                                    <input type="" name="otpform" placeholder="" id="otpcode" class="" autocorrect="off" autocapitalize="off" autofocus="">
                                    <%if(locals.error){%>
                                    <div class="error" style="color: red;"> <%= error %></div>
                                    <%}%>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                               
                            </div>
                          </div>
                          <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <div id="timer"></div>

                                <!-- <input type="submit" class="btn mb-3" value="" > -->
                                <input type="submit" class="btn mb-3" id="submitButton" value="<%= (otp && typeof seconds !== 'undefined' && seconds > 0) ? 'Send' : 'Resend' %>">


                                <p class="mb-4">
									<a href="#" id="RecoverPassword">Back to login</a> &nbsp; | &nbsp;
								    <a href="register.html" id="customer_register_link">Create account</a>
                                </p>
                            </div>
                         </div>
                     </form>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    


            <script>
                const timerElement = document.getElementById('timer');
                let seconds = 30; // Set the initial timer value in seconds
                let otpExpired = false; // Flag to track OTP expiration
                
                function updateTimer() {
                    timerElement.innerText = `left: ${seconds} seconds`;
                
                    if (seconds > 0) {
                        seconds--;
                        setTimeout(updateTimer, 1000); // Update the timer every second
                    } else {
                        timerElement.innerText = 'its Expired';
                        otpExpired = true;
                        // Handle timer expiration actions here
                        updateButtonLabel();
                        updateResendLink();
                    }
                }
                
                function updateButtonLabel() {
                    const submitButton = document.getElementById('submitButton');
                    if (otpExpired) {
                        submitButton.value = 'Resend';
                    } else {
                        submitButton.value = 'Send';
                    }
                }
                
                function updateResendLink() {
                    const resendLink = document.getElementById('RecoverPassword');
                    if (otpExpired) {
                        resendLink.href = '/resendOtp';
                    } else {
                        // Set the default link when the timer is active (you can change '#' to your default link)
                        resendLink.href = '#'; // Change this to the default link
                    }
                }
                
                // Start the timer when the page loads or as needed
                updateTimer();
                
                const submitButton = document.getElementById('submitButton');
                
                submitButton.addEventListener('click', function(event) {
                    if (otpExpired) {
                        event.preventDefault(); // Prevent default form submission
                        window.location.href = '/resendOtp'; // Redirect to /resendOtp
                    } else {
                        // No need to prevent default behavior if the label is "Send"
                        // The form will submit to /otpverified by default
                    }
                });
                
                // Update button label and resend link when the page loads
                updateButtonLabel();
                updateResendLink();
                </script>






<footer id="footer">
        
    <div class="site-footer">
        <div class="container">
             <!--Footer Links-->
            <div class="footer-top">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Quick Shop</h4>
                        <ul>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Informations</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; condition</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Customer Services</h4>
                        <ul>
                            <li><a href="#">Request Personal Data</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        <h4 class="h4">Contact Us</h4>
                        <ul class="addressFooter">
                            <li><i class="icon anm anm-map-marker-al"></i><p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p></li>
                            <li class="phone"><i class="icon anm anm-phone-s"></i><p>(440) 000 000 0000</p></li>
                            <li class="email"><i class="icon anm anm-envelope-l"></i><p>sales@yousite.com</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Footer Links-->
            <hr>
          
        </div>
    </div>
</footer>
<!--End Footer-->
<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
<!--End Scoll Top-->

 <!-- Including Jquery -->
 <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>
 <script src="/assets/js/vendor/jquery.cookie.js"></script>
 <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
 <script src="/assets/js/vendor/wow.min.js"></script>
 <script src="/assets/js/bootstrap.min.js"></script>
 <script src="/assets/js/plugins.js"></script>
 <script src="/assets/js/popper.min.js"></script>
 <script src="/assets/js/lazysizes.js"></script>
 <script src="/assets/js/main.js"></script>
</div>
</body>

</html>  


    